<div class="container">
    <div class="logo-container clearfix row">
        <div class="col-md-5 logo pull-left">
            <a ui-sref="home"><img src="assets/images/as3-logo-simple.png" />
               <ul class="pull-left">
                   <li><h4>AS3</h4>
</li>
<li><h6 class="version" id="version">Version: 1.0.0</h6></li>
                   <!--<li><h6 class="version" id="version">Version: {{main.version ? main.version : '3.2.0'}}</h6></li>-->
               </ul>
                </a>
        </div>
        <!-- Top Navigation -->
        <div class="col-md-7 top-nav pull-right">
            <nav class="navbar navbar-default">
                <div>
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><i class="glyphicon glyphicon-menu-hamburger"></i>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li ui-sref-active="active "><a ui-sref="home " class="btn btn-primary"><i class="glyphicon glyphicon-home"></i>HOME</a></li>
                            <li ui-sref-active="active"><a ui-sref="help" class="btn btn-success"><i class="glyphicon glyphicon-question-sign"></i>HELP</a></li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
        </div>
    </div>
</div>
<!-- End Top Navigation -->