<div ng-include class="header" src="'partials/header.html'" ng-cloak></div>
<span id="top"></span>
<div class="container body-container help" ng-controller="HelpCtrl as help">
  <section id="api" class="table-section">
    <!--<div class="top-section"><h3>Web API</h3></div>-->
    <div class="top-section">
      <h3>HELP SECTION</h3>
      <ul>
        <li>For more information, please visit git repo <a href="https://github.com/F5Solutions/alexaas3" target="_blank">https://github.com/F5Solutions/alexaas3</a></li>
      </ul>

    </div>
  </section>
</div>
<div ng-include class="footer" src="'partials/footer.html'" class="row" ng-cloak></div>