<section class="skills-container">
    <h4>ALEXA SKILL</h4>
    <br />
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item active">To start AS3 Alexa Skill</li>
                <li class="list-group-item">Alexa open Application Services</li>
            </ul>
                        <ul class="list-group">
                <li class="list-group-item active">Alexa AS3 Automation Intent</li>
                <li class="list-group-item">Automate a service [service name] at www.[domain].com with tag [tag name]</li>
            </ul>
        </div>      
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item active">Alexa AS3 Mgmt Intents</li>
                <li class="list-group-item">Create a service</li>
                <li class="list-group-item">Delete a service</li>
                <li class="list-group-item">Discover</li>
                <li class="list-group-item">List Servers</li>
                <li class="list-group-item">Add Servers</li>
                <li class="list-group-item"><span class="inactive">Delete Server</span></li>
                <li class="list-group-item">Delete All</li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item active">Alexa Native Intents</li>
                <li class="list-group-item">Cancel</li>
                <li class="list-group-item">Stop</li>
                <li class="list-group-item">Exit</li>
                <li class="list-group-item">Help</li>
            </ul>
        </div>
    </div>
</section>